/* header */
header {
  background-color: #fff5f0;
}
header nav .gnb li a {
  color: #252525;
}

/* Contents */
.contents {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;
  padding: 50px 20px;
  box-sizing: border-box;
}
.contents .contents-inner {
  width: 1340px;
}

/* Contents Items --- Left Area */
.contents .wrap {
  display: flex;
  margin-top: 90px;
}

.contents .title-area {
  text-align: center;
  padding-top: 90px;
}
.contents .title-area h2 {
  font-size: 36px;
  font-weight: 500;
}

.contents .item-area {
}
.contents .item-area ul {
  display: flex;
  align-items: center;
}
.contents .item-area ul li {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contents .item-area ul li:nth-child(1) {
  width: 150px;
}
.contents .item-area ul li:nth-child(2) {
  width: 310px;
  margin-left: 15px;
}
.contents .item-area ul li:nth-child(3),
.contents .item-area ul li:nth-child(4),
.contents .item-area ul li:nth-child(5) {
  width: 120px;
}

.contents .item-area ul li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 0;
}
.contents .item-area ul li input[type="checkbox"]:checked {
  accent-color: #f06b4a;
}

.contents .item-area .list-line {
  width: 100%;
  height: 1px;
  background-color: #ededed;
  margin-bottom: 33px;
}

.contents .item-area .order-item {
  display: flex;
  width: auto;
  height: 150px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 30px;
  padding-bottom: 30px;

  position: relative;
}
.contents .item-area .order-item .img-area {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 15px;
}
.contents .item-area .order-item .img-area img {
  width: 100%;
}

.contents .item-area .order-item .item-info {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 310px;
  box-sizing: border-box;
}

/* 모든 checkbox 설정 */
.contents .item-area .order-item .item-info input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;

  width: 20px;
  height: 20px;
  margin: 0;
}
.contents .item-area .order-item .item-info input[type="checkbox"]:checked {
  accent-color: #f06b4a;
}

/* 모든 h5, h6 */
.contents .item-area .order-item h5 {
  font-size: 18px;
  font-weight: 400;
}
.contents .item-area .order-item h6 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.contents .item-area .order-item .price {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 120px;
}

.contents .item-area .order-item .sum-part-wrap {
  display: flex;
}
.contents .item-area .order-item .quantity {
  display: flex;
  align-items: center;
  width: 120px;
}
.contents .item-area .order-item .quantity button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff5f0;
  cursor: pointer;
}
.contents .item-area .order-item .quantity button img {
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.contents .item-area .order-item .quantity h6 {
  font-family: "Raleway";
  width: 25px;
  height: 25px;

  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
}

.contents .item-area .order-item .max-quantity {
  position: absolute;
  top: 55%;
  font-size: 14px;

  display: none;
}

.contents .item-area .order-item .sum {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 120px;
}
.contents .item-area .order-item .sum h5 {
}

.contents .item-area .order-item .close-area {
  display: flex;
  align-items: center;
}
.contents .item-area .order-item .close-area .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff5f0;
  cursor: pointer;
}
.contents .item-area .order-item .close-area .close-btn img {
  width: 12px;
  height: 12px;
}

/* Contents Items --- Right Area */
.contents .order-area {
  margin-left: 50px;
}
.contents .order-area .calc-box {
  width: 440px;
  height: 281px;
  background-color: #fff5f0;
  margin: 42px 0 50px 0;
  box-sizing: border-box;
}
.contents .order-area .calc-box .calc-inner {
  padding: 0 30px;
}
.contents .order-area .calc-box .calc-inner .list-amount {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 15px 0;
}
.contents .order-area .calc-box .calc-inner .list-amount h5,
.contents .order-area .calc-box .calc-inner .delivery-amount h5,
.contents .order-area .calc-box .calc-inner .discount-amount h5 {
  font-size: 16px;
  font-weight: 300;
}
.contents .order-area .calc-box .calc-inner .list-amount h6,
.contents .order-area .calc-box .calc-inner .delivery-amount h6,
.contents .order-area .calc-box .calc-inner .discount-amount h6 {
  font-size: 16px;
  font-weight: 400;
}

.contents .order-area .calc-box .calc-inner .delivery-amount {
  display: flex;
  justify-content: space-between;
}

.contents .order-area .calc-box .calc-inner .discount-amount {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.contents .order-area .calc-box .calc-inner .amount-line {
  width: 100%;
  height: 1px;
  background-color: #ff6741;
  margin: 60px 0 20px 0;
}

.contents .order-area .calc-box .calc-inner .total-amount {
  display: flex;
  justify-content: space-between;
}
.contents .order-area .calc-box .calc-inner .total-amount h4,
.contents .order-area .calc-box .calc-inner .total-amount h5 {
  font-size: 20px;
  font-weight: 500;
}

.contents .order-area .order-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 442px;
  height: 80px;
  background-color: #ff6741;

  font-size: 26px;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 771px) {
  .layout {
    max-width: 768px;
    min-width: 768px;
    height: 100%;
  }
  .contents {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
  }
  .contents .contents-inner {
    width: auto;
  }
  .contents .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .contents .item-area {
    width: auto;
    height: auto;
  }
  .contents .item-area ul {
    display: flex;
    align-items: center;
    width: auto;
  }
  .contents .item-area ul li:nth-child(1) {
    width: 100px;
  }
  .contents .item-area ul li:nth-child(2) {
    width: 250px;
    margin-left: 18px;
  }
  .contents .item-area ul li:nth-child(3),
  .contents .item-area ul li:nth-child(4),
  .contents .item-area ul li:nth-child(5) {
    width: 120px;
  }

  .contents .item-area .order-item {
    display: flex;
    width: auto;
    height: 150px;
  }
  .contents .item-area .order-item .img-area {
    width: 100px;
    height: 100px;
  }
  .contents .item-area .order-item .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contents .item-area .order-item .item-info {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .layout {
    max-width: 390px;
    min-width: 390px;
    height: 100%;
  }
  .contents .item-area ul {
    display: none;
  }
  .contents .item-area .order-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .contents .item-area .order-item .item-info {
    margin: 10px 0;
  }

  .contents .item-area .order-item .item-info input[type="checkbox"] {
    position: absolute;
    left: 0px;
    top: -30px;
  }
  .contents .item-area .order-item .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
  }
  .contents .item-area .order-item .price h5 {
    font-size: 14px;
  }
  .contents .item-area .order-item .price h6 {
    margin: 0;
  }
  .contents .item-area .order-item .sum-part-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .contents .item-area .order-item .quantity {
  }
  .contents .item-area .order-item .sum {
    width: auto;
  }

  .contents .item-area .order-item .max-quantity {
    position: absolute;
    top: 85%;
    font-size: 14px;
  }
  .contents .item-area .order-item .close-area {
    margin: 0 auto;
    margin-top: 10px;
  }
  .contents .item-area .order-item .close-area .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
  }
  .contents .order-area {
    margin-left: 0;
  }
  .contents .order-area .calc-box {
    width: auto;
    height: auto;
  }
  .contents .order-area .calc-box .calc-inner {
    padding: 30px;
  }
  .contents .order-area .calc-box .calc-inner .list-amount {
    padding: 0;
    padding-bottom: 15px;
  }
}
