/* header */
header {
  background-color: #fff;
}
header nav .gnb li a {
  color: #252525;
}
.side-navBar {
  position: fixed;
}

/* Main */
.main-area {
  position: relative;
  width: auto;
  max-width: 1920px;
  min-width: 100%;
  height: 500px;
  margin-top: 80px;
}
.main-area img.howToUse-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-area .title-area {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.main-area .title-area p {
  font-size: 24px;
  font-weight: 300;
  padding-top: 34px;
}

.main-area .title-area a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  background-color: #ff6741;

  font-size: 20px;
  font-weight: 500;
  color: white;
}
.main-area img.howToUse-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-area .title-area {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.main-area .title-area p {
  font-size: 24px;
  font-weight: 300;
  padding-top: 34px;
}

.main-area .title-area a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  background-color: #ff6741;

  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-top: 50px;
}

/* section 01 */
.sec_01 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 620px;
  background-color: white;
}
.sec_01 .section-inner {
  width: 1340px;
  height: 100%;
}

.sec_01 .title-area {
  padding-top: 100px;
}
.sec_01 .title-area h2 {
  font-size: 36px;
  font-weight: 500;
}

.sec_01 .article-box {
  display: flex;
  padding-top: 73px;
}
.sec_01 .article-box article {
  position: relative;
  margin-right: 70px;
}
.sec_01 article .index-area {
  position: absolute;

  width: 120px;
  height: 80px;

  left: 10px;
  top: -20px;

  background-image: url(../img/howToUse/index.png);
  background-repeat: no-repeat;
  background-position: center;
}
.sec_01 article .index-area h4 {
  font-family: "Raleway", "Noto Sans KR";

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;

  padding-top: 9px;
}
.sec_01 article .index-area h4 span {
  font-size: 40px;
  line-height: 36px;
}

.sec_01 article .desc-area {
  width: 400px;
  height: 320px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

  text-align: center;
}
.sec_01 article .desc-area h3 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 85px;
}
.sec_01 article .desc-area img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  padding-top: 35px;
}
.sec_01 article .desc-area h5 {
  font-size: 20px;
  font-weight: 300;
  padding-top: 12px;
}

/* box-area */
.sec_01 article .desc-area .box-area {
  display: flex;
  justify-content: center;

  padding-top: 41px;
}
.sec_01 article .desc-area .box-area .standard {
  padding-right: 60px;
  padding-top: 13px;
}
.sec_01 article .desc-area .box-area .standard .s-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 43px;
  margin-left: 25px;

  border: 3px solid black;
  border-radius: 5px;

  font-size: 22px;
  font-weight: 600;
}

.sec_01 article .desc-area .box-area .jumbo {
}
.sec_01 article .desc-area .box-area .jumbo .j-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 85px;
  height: 55px;

  border: 3px solid black;
  border-radius: 5px;

  font-size: 22px;
  font-weight: 600;
}
.sec_01 article .desc-area .box-area h5 {
  font-size: 20px;
  font-weight: 300;
  padding-top: 13px;
}
.sec_01 article .desc-area .box-area h6 {
  font-size: 14px;
  font-weight: 200;
}

/* section 02 */
.sec_02 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 476px;
}
.sec_02 .section-inner {
  display: flex;
  justify-content: space-between;

  width: 1340px;
  height: 100%;
}

.sec_02 .title-area {
  padding-top: 100px;
}
.sec_02 .title-area h2 {
  font-size: 36px;
  font-weight: 500;
}
.sec_02 .title-area p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 48px;
}
.sec_02 .title-area a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  border: 1px solid #ff6741;

  font-size: 20px;
  font-weight: 500;
  color: #ff6741;

  margin-top: 65px;
}

.sec_02 .notice-area {
  display: flex;
  padding-top: 152px;
}
.sec_02 .notice-area img.right {
  width: 50px;
  height: 48px;
  margin-top: 37px;
  margin-left: 60px;
  margin-right: 60px;

  animation-name: movingChevron;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes movingChevron {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.sec_02 .notice-area .notice {
  width: 120px;
  height: 195px;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.sec_02 .notice-area .notice.on {
  opacity: 1;
  visibility: visible;
}

.sec_02 .notice-area img.right {
  width: 50px;
  height: 48px;
  margin-top: 37px;
  margin-left: 60px;
  margin-right: 60px;
}
.sec_02 .notice-area .notice {
  width: 120px;
  height: 195px;
  text-align: center;
}
.sec_02 .notice-area .notice .notice-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffd0c4;

  background-image: url(../img/howToUse/bell.png);
  background-repeat: no-repeat;
  background-position: center;
}
.sec_02 .notice-area .notice .notice-img2 {
  background-color: #ff987e;
  background-image: url(../img/howToUse/card.png);
}
.sec_02 .notice-area .notice .notice-img3 {
  background-color: #ff6741;
  background-image: url(../img/howToUse/truck.png);
}

.sec_02 .notice-area .notice .notice-img img {
}
.sec_02 .notice-area .notice h5 {
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
}
.sec_02 .notice-area .notice h5 span {
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding-top: 9px;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
  background-color: #fff5f0;
}
.banner img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.banner .text-area {
  margin: 0 30px;
}
.banner .text-area h3 {
  font-size: 24px;
  font-weight: 500;
}
.banner .text-area p {
  font-size: 16px;
  font-weight: 300;
}

/* section 03 */
.sec_03 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 880px;
}
.sec_03 .section-inner {
  display: flex;

  width: 1340px;
  height: 100%;
}

.sec_03 .img-area {
  display: flex;
  padding-top: 114px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(-80px);
  transition: 1s;
}
.sec_03 .img-area.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sec_03 .img-area .left-img {
  width: 377px;
  height: 695px;
  margin-right: 25px;
}
.sec_03 .img-area .left-img img {
  width: 100%;
}

.sec_03 .img-area .right-img {
  width: 350px;
  height: 335px;
}
.sec_03 .img-area .right-img img {
  width: 100%;
  margin-bottom: 25px;
}

.sec_03 .text-area {
  padding: 185px 0 0 86px;

  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.sec_03 .text-area h2,
.sec_03 .text-area h2 span,
.sec_03 .text-area p {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

.sec_03 .text-area.active {
  opacity: 1;
  visibility: visible;
}
.sec_03 .text-area.active h2,
.sec_03 .text-area.active h2 span,
.sec_03 .text-area.active p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.8s;
}
.sec_03 .text-area.active h2 {
  transition-delay: 0.3s;
}
.sec_03 .text-area.active h2 span {
  transition-delay: 0.5s;
}
.sec_03 .text-area.active p {
  transition-delay: 0.7s;
}

.sec_03 .text-area h2 {
  font-size: 36px;
  font-weight: 500;
}
.sec_03 .text-area h2 span {
  color: #ff6741;
}
.sec_03 .text-area p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 58px;
}
.sec_03 .text-area p span {
  font-weight: 400;
  color: #ff6741;
}

/* section 04 */
.sec_04 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 990px;
}
.sec_04 .section-inner {
  position: relative;

  width: 1340px;
  height: 100%;
}

.sec_04 .small-img {
  display: flex;
  justify-content: space-between;

  width: 865px;
  height: 400px;
  margin-top: 115px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(80px);
  transition: 1s;
}
.sec_04 .small-img.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.sec_04 .small-img img {
  width: 420px;
  height: 100%;
}

.sec_04 .text-area {
  padding-top: 90px;

  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.sec_04 .text-area h2,
.sec_04 .text-area p,
.sec_04 .text-area a {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
}

.sec_04 .text-area.active {
  opacity: 1;
  visibility: visible;
}
.sec_04 .text-area.active h2,
.sec_04 .text-area.active p,
.sec_04 .text-area.active a {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.8s;
}

.sec_04 .text-area.active h2 {
  transition-delay: 0.3s;
}
.sec_04 .text-area.active p {
  transition-delay: 0.5s;
}
.sec_04 .text-area.active a {
  transition-delay: 0.7s;
}

.sec_04 .text-area h2 {
  font-size: 36px;
  font-weight: 500;
}
.sec_04 .text-area p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 46px;
}
.sec_04 .text-area p span {
  font-weight: 400;
  color: #ff6741;
}
.sec_04 .text-area a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  background-color: #ff6741;

  font-size: 20px;
  font-weight: 500;

  margin-top: 67px;
}

.sec_04 .big-img {
  position: absolute;
  top: 115px;
  right: 0;

  width: 450px;
  height: 800px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(80px);
  transition: 1s;
}
.sec_04 .big-img.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sec_04 .big-img img {
  width: 100%;
}

/* section 05 */
.sec_05 {
  width: 100%;
  height: 700px;
}
.sec_05 .background-img {
  position: relative;
  width: 100%;
  height: 530px;
  background-image: url(../img/howToUse/tomatoes.png);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;

  display: flex;
  justify-content: center;
}
.sec_05 .background-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 530px;
  background: rgba(0, 0, 0, 0.5);
}
.sec_05 .background-img .section-inner {
  position: relative;
  width: 1340px;
  height: 100%;
  z-index: 5;
}

.sec_05 h2 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  padding-top: 78px;
}
.sec_05 .article-area {
  display: flex;
  justify-content: space-between;

  position: absolute;
  width: 100%;
  padding-top: 109px;
}
.sec_05 article {
  width: 297px;
  height: 365px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  text-align: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: 1s;
}
.sec_05 article.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.sec_05 article.active:nth-child(1) {
  transition-delay: 0.3s;
}
.sec_05 article.active:nth-child(2) {
  transition-delay: 0.5s;
}
.sec_05 article.active:nth-child(3) {
  transition-delay: 0.7s;
}
.sec_05 article.active:nth-child(4) {
  transition-delay: 0.9s;
}

.sec_05 article img {
  padding-top: 50px;
  width: 55px;
  height: 55px;
}
.sec_05 article h4 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 30px;
}
.sec_05 article p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}

/* section 06 */
.sec_06 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 1080px;
}
.sec_06 .section-inner {
  width: 1340px;
  height: 100%;
}

/* Main Title Area */
.sec_06 .main-title-area {
  padding-top: 94px;
}
.sec_06 .main-title-area h2 {
  font-family: "Raleway", "Noto Sans KR";
  font-size: 36px;
  font-weight: 600;
  padding-left: 126px;
  padding-bottom: 9px;
}
.sec_06 .main-title-area .main-title-line {
  width: 180px;
  height: 1px;
  background-color: #ff6741;
}

/* Accordion List */
.sec_06 .faq-accordion {
  padding: 113px 90px 0 90px;
}
.sec_06 .faq-accordion ul {
}
.sec_06 .faq-accordion ul li {
  width: 1147px;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
.sec_06 .faq-accordion ul li {
}
.sec_06 .faq-accordion ul li .title {
}
.sec_06 .faq-accordion ul li .title {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  padding-left: 58px;
  background-image: url(../img/howToUse/plus.png);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

.sec_06 .faq-accordion ul li .desc {
  font-size: 18px;
  font-weight: 300;
  padding: 25px 0 30px 120px;
}

/* Active 추가 */
.sec_06 .faq-accordion ul li .title.active {
  background-image: url(../img/howToUse/minus.png);
}
.sec_06 .faq-accordion ul li .title.active::before {
}

.sec_06 .faq-accordion ul {
}
.sec_06 .faq-accordion ul li {
  width: 1147px;
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
}
.sec_06 .faq-accordion ul li {
}
.sec_06 .faq-accordion ul li .title {
}
.sec_06 .faq-accordion ul li .title {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  padding-left: 58px;
  background-image: url(../img/howToUse/plus.png);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

.sec_06 .faq-accordion ul li .desc {
  font-size: 18px;
  font-weight: 300;
  padding: 25px 0 30px 120px;
}

/* Active 추가 */
.sec_06 .faq-accordion ul li .title.active {
  background-image: url(../img/howToUse/minus.png);
}
.sec_06 .faq-accordion ul li .title.active::before {
}
.sec_06 .faq-accordion ul li .desc {
  display: none;
}

/* Tablet Responsive */
@media (max-width: 770px) {
  .layout {
    width: 768px;
    min-width: 390px;
    max-width: 768px;
    min-height: 100%;
  }
  .main-area {
    margin-top: 50px;
  }

  .main-area .title-area a {
    width: 200px;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
  }

  /* section 01 */
  .sec_01 {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 50px 20px 0;
  }
  .sec_01 .section-inner {
    padding: 0;
    width: auto;
    height: 100%;
  }

  .sec_01 .title-area {
    padding-top: 20px;
  }
  .sec_01 .title-area h2 {
    font-size: 18px;
  }

  .sec_01 .article-box {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .sec_01 .article-box article {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .sec_01 article .index-area {
    width: 75px;
    height: 55px;

    left: 10px;
    top: -10px;

    background-image: url(../img/howToUse/index-small.png);
  }

  .sec_01 article .index-area h4 {
    font-size: 16px;
  }
  .sec_01 article .index-area h4 span {
    font-size: 26px;
    line-height: 20px;
  }

  .sec_01 article .desc-area {
    width: 350px;
    height: 320px;
  }
  .sec_01 article .desc-area h3 {
    font-size: 18px;
  }
  .sec_01 article .desc-area h5 {
    font-size: 16px;
  }

  /* box-area */
  .sec_01 article .desc-area .box-area {
    padding-top: 30px;
  }
  .sec_01 article .desc-area .box-area h5 {
    font-size: 16px;
  }

  /* section 02 */
  .sec_02 {
    width: auto;
    height: auto;
  }
  .sec_02 .section-inner {
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .sec_02 .title-area {
    padding-top: 0;
  }
  .sec_02 .title-area h2 {
    font-size: 18px;
  }
  .sec_02 .title-area p {
    font-size: 16px;
    padding-top: 20px;
  }
  .sec_02 .title-area a {
    width: 200px;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
  }

  .sec_02 .notice-area {
    padding-top: 60px;
  }
  .sec_02 .notice-area img.right {
    width: 30px;
    height: 28px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sec_02 .notice-area .notice {
    width: auto;
    height: auto;
  }
  .sec_02 .notice-area .notice .notice-img {
    width: 80px;
    height: 80px;
    background-size: 40px;
  }
  .sec_02 .notice-area .notice .notice-img3 {
    background-size: 45px;
  }
  .sec_02 .notice-area .notice h5 {
    font-size: 18px;
  }
  .sec_02 .notice-area .notice h5 span {
    font-size: 14px;
    padding-top: 5px;
  }

  /* Banner */
  .banner {
    width: auto;
    height: 100px;
    margin: 50px 0;
  }
  .banner img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  .banner .text-area {
    margin: 0 30px;
  }
  .banner .text-area h3 {
    font-size: 18px;
  }
  .banner .text-area p {
    font-size: 14px;
  }

  /* section 03 */
  .sec_03 {
    display: flex;
    justify-content: center;

    width: auto;
    height: auto;

    padding: 50px 20px;
    box-sizing: border-box;
  }
  .sec_03 .section-inner {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;
  }

  .sec_03 .img-area {
    display: flex;
    padding-top: 0;

    width: 100%;
  }
  .sec_03 .img-area .left-img {
    width: 100%;
    height: 320px;
    margin-right: 20px;
  }
  .sec_03 .img-area .left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sec_03 .img-area .right-img {
    width: 100%;
    height: 150px;
    font-size: 0;
  }
  .sec_03 .img-area .right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .sec_03 .text-area {
    padding: 0;
    padding-top: 20px;
  }
  .sec_03 .text-area h2 {
    font-size: 18px;
  }
  .sec_03 .text-area .desc-area {
    padding-top: 0;
  }
  .sec_03 .text-area .desc-area p {
    font-size: 16px;
    padding-top: 25px;
  }
  /* section 04 */
  .sec_04 {
    flex-direction: column;
    width: auto;
    height: auto;
    padding-bottom: 50px;
  }
  .sec_04 .section-inner {
    width: auto;
    height: auto;
    padding: 50px 20px;
  }

  .sec_04 .small-img {
    display: flex;
    justify-content: flex-start;

    width: auto;
    height: 160px;
    margin-top: 0;
  }
  .sec_04 .small-img img {
    justify-content: center;

    width: auto;
    height: 200px;
    margin-top: 0;
  }
  .sec_04 .small-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sec_04 .text-area {
    padding-top: 20px;
  }
  .sec_04 .text-area h2 {
    font-size: 18px;
  }
  .sec_04 .text-area p {
    font-size: 16px;
    padding-top: 20px;
  }
  .sec_04 .text-area a {
    width: 200px;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
  }

  .sec_04 .big-img {
    display: none;
  }

  /* section 05 */
  .sec_05 {
    width: auto;
    height: auto;
  }
  .sec_05 .background-img {
    position: relative;
    width: auto;
    height: 350px;
  }
  .sec_05 .background-img:after {
    width: 100%;
    height: 100%;
  }
  .sec_05 .background-img .section-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .sec_05 h2 {
    font-size: 18px;
    padding-top: 50px;
    text-align: center;
  }
  .sec_05 .article-area {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
  }
  .sec_05 article {
    width: 170px;
    height: 220px;
    text-align: center;
  }
  .sec_05 article img {
    padding-top: 15px;
    width: 30px;
    height: 30px;
  }
  .sec_05 article h4 {
    font-size: 14px;
    padding-top: 5px;
  }
  .sec_05 article p {
    font-size: 12px;
    padding-top: 10px;
  }

  /* section 06 */
  .sec_06 {
    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 60px 0;
  }
  .sec_06 .section-inner {
    width: 390px;
    height: auto;
  }

  .sec_06 .main-title-area {
    padding-top: 0;
  }
  .sec_06 .main-title-area h2 {
    font-size: 24px;
    padding-left: 50px;
    padding-bottom: 5px;
  }
  .sec_06 .main-title-area .main-title-line {
    width: 100px;
  }
  /* Accordion List */
  .sec_06 .faq-accordion {
    padding: 30px 0 0 30px;
  }
  .sec_06 .faq-accordion ul li {
    width: auto;
    padding: 20px 0;
  }
  .sec_06 .faq-accordion ul li .title {
    font-size: 18px;
    padding-left: 40px;
  }
  .sec_06 .faq-accordion ul li .desc {
    font-size: 14px;
    padding: 20px 0 20px 30px;
  }
}

@media (max-width: 770px) {
  .layout {
    width: 768px;
    min-width: 390px;
    max-width: 768px;
    min-height: 100%;
  }

  .sec_05 article img {
    padding-top: 20px;
    width: 35px;
    height: 35px;
  }
  .sec_05 article h4 {
    font-size: 16px;
    padding-top: 10px;
  }
  .sec_05 article p {
    font-size: 14px;
    padding-top: 10px;
  }
  .sec_06 {
    margin-top: 250px;
    padding-top: 0;
  }
}

@media (max-width: 400px) {
  .layout {
    width: 390px;
    min-width: 390px;
    max-width: 390px;
    min-height: 100%;
    box-sizing: border-box;
  }
}
