/* Header */
header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 1920px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 30;
}

header .header-inner {
  display: flex;
  align-items: center;
}
header #logo {
  width: 130px;
  height: 41.6px;
  margin-left: 50px;
  margin-right: 228px;
}
/* header - gnb list */
header nav {
  display: flex;
  align-items: center;
}
header nav .gnb {
  display: flex;
}

header nav .gnb li {
  width: 120px;
  height: 25px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;

  position: relative;
}
header nav .gnb li#li-last {
  margin-right: 0;
}

/* 차오르는 효과 nav-bar */
.gnb li a::before {
  content: attr(data-text);
  white-space: nowrap;

  position: absolute;
  left: 0;
  top: 0;

  width: 0%;
  overflow: hidden;

  color: #ff6741;
  transition: 0.5s;
}

.gnb li a:hover::before {
  width: 100%;
}
/* ----- */

/* header - icons */
header nav .gnb-icons {
  display: flex;
  margin-right: 50px;
}
header nav .gnb-icons li a .basket_icon {
  width: 50px;
  height: 50px;
  margin-left: 227px;
}
header nav .gnb-icons li a .user_icon {
  width: 30px;
  height: 31px;
  margin-left: 35px;
  margin-top: 9px;
}

/* Main */
main {
  position: relative;
}

/* Visual */

/* Main - video-area */
.visual .video-area {
  position: relative;
  height: 1080px;
}
.visual .video-area video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* Main - title area */
.visual .video-area .title-area {
  color: white;
}

/* main-title */
.visual .video-area .title-area .main-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 50%;
  top: 36%;
  transform: translate(-50%, 0);
  text-align: center;
}

.visual .video-area .title-area h1 {
  font-family: "Leferi";
  font-size: 44px;
  font-weight: 600;
  line-height: 60px;
}
.visual .video-area .title-area h2 {
  font-size: 28px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* main-btn */
.visual .video-area .title-area .main-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  background: #ff6741;

  font-size: 20px;
  font-weight: 500;
}

/* Point area */
.visual .video-area .point-area {
  position: absolute;
  left: 50%;
  bottom: 52px;
  transform: translate(-50%);

  width: 1340px;
  height: 160px;
  color: white;

  display: flex;
}

/* point-area - point-box */
.visual .video-area .point-area .point-box {
  display: flex;

  position: absolute;
  width: 401px;
  height: 90px;
}
.visual .video-area .point-area .point1 {
}
.visual .video-area .point-area .point2 {
  left: 50%;
  transform: translate(-50%);
}
.visual .video-area .point-area .point3 {
  width: 400px;
  right: 0;
}

/* point-box characters */
.point-area .point-box .chat_num {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 44px;
  font-weight: 500;

  width: 90px;
  height: 90px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-right: 25px;
}

.point-area .point-box .chat--text_box {
  display: flex;
  flex-direction: column;

  width: 280px;
}

/* text-box text */
.point-area .point-box .chat--text_box .chat_title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.point-area .point-box .chat--text_box .chat_desc {
  font-size: 16px;
  font-weight: 300;
}
.point-area .point-box .chat--text_box span {
  color: #ff6741;
  font-weight: 400;
}

/* progress bar */
.visual .video-area .point-area .progress-bar {
  position: absolute;
  bottom: 0;

  width: 1340px;
  height: 2px;
  background-color: white;
}

/* Section 01 */
.section_01 {
  position: relative;

  display: flex;
  justify-content: center;

  height: 1600px;
}

.section_01 .section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1440px;
  margin-left: 50px;
  margin-right: 50px;

  /* background-color: cornflowerblue; */
}

/* Section 01 --- images */
.section_01 img {
  position: absolute;
}

.section_01 #main-img1 {
  left: 0;
}
.section_01 #main-img2 {
  right: 0;
  top: 50%;
}
.section_01 #main-img3 {
  left: 10%;
  bottom: 72px;
  z-index: 10;
}
.section_01 #main-img4 {
  left: 11%;
  bottom: 75px;
  z-index: 11;
}

/* section 01 - title area */
.section_01 .title-area {
  margin-top: 96px;
  text-align: center;
}
.title-area h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}
.title-area h2 {
  font-size: 36px;
  font-weight: 500;
}

/* section 01 - contents area 1 */
.section_01 .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 1340px;
  height: 525px;
  margin-top: 84px;
}

.section_01 .container .content1 {
  display: flex;
}

/* left-content */
.section_01 .container .content1 .left {
  display: flex;
  flex-direction: column;

  height: 261px;
  padding-top: 90px;
  padding-right: 61px;
}
.section_01 .container .content1 .left span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 7px;

  background-color: #fff5f0;
  color: #ff6741;

  font-size: 22px;
  font-weight: 500;
  line-height: 10px;
}
.section_01 .container .content1 .left p {
  font-size: 18px;
  font-weight: 300;
}
.section_01 .container .content1 .left .first_desc {
  margin-bottom: 50px;
}

/* right-content */
.section_01 .container .content1 .right {
  display: flex;
  flex-wrap: wrap;

  width: 565px;
  height: 525px;
}

/* right-content boxes */
.section_01 .container .content1 .right .small-box {
  width: 270px;
  height: 250px;
  margin-bottom: 25px;

  background-image: url(../img/main/ug_pap\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section_01 .container .content1 .right .small-box1 {
  background-image: url(../img/main/ug_tom\ 1.png);
  margin-right: 25px;
}

.section_01 .container .content1 .right .big-box {
  width: 565px;
  height: 250px;

  background-image: url(../img/main/ug_oran1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* section 01 - contents area 2 */
.container2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 1340px;
  margin-top: 85px;
}

.section_01 .content2 {
  display: flex;
  justify-content: space-between;

  width: 1010px;
}

/* articles common */
.section_01 .content2 article {
  position: relative;

  width: 320px;
  height: 350px;
  /* background-color: white; */
  text-align: center;
}

/* 순차적으로 활성화 시키기 */
.section_01 .content2 article.on {
  background-color: #fff5f0;
}
.section_01 .content2 article.on h2 {
  color: #ff6741;
}
/* --- */

.section_01 .content2 article h2 {
  font-size: 120px;
  font-weight: 700;
  line-height: 44px;
  color: #d6d6d5;

  padding-top: 75px;
}
.section_01 .content2 article h3 {
  font-size: 26px;
  font-weight: 400;
}
.section_01 .content2 article p {
  font-size: 18px;
  font-weight: 300;

  padding-top: 45px;
}

/* Section 02 */
.section_02 {
  display: flex;
  justify-content: center;
  height: 580px;
}

.section_02 .color-background {
  width: 100%;
  height: 400px;
  background-color: #fff5f0;

  display: flex;
  justify-content: center;
}

.section_02 .section-inner {
  width: 1010px;
  height: 580px;
}

/* Section 02 --- title area */
.section_02 .title-area {
  padding-top: 90px;
  padding-bottom: 25px;
  /* text-align: center; */
}

.section_02 .title-area .article-btn {
  display: flex;
  justify-content: flex-end;
}
.section_02 .title-area .article-btn .btn {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
}
.section_02 .title-area .article-btn .left-btn {
  background-image: url(../img/components/left.png);
  margin-right: 10px;
}
.section_02 .title-area .article-btn .right-btn {
  background-image: url(../img/components/right.png);
}

/* Section 02 --- [Slick-slide] Reason area */
.section_02 .slide-con {
  width: 1010px;
  margin: 0 auto;
}

.section_02 .slide-con .slick-slide {
  position: relative;
  margin-right: 25px;
}
.section_02 .slide-con .slick-slide .reason-img {
  width: 320px;
  height: 320px;
  background-color: #333;
}

/* ugly images */
.section_02 .slide-con .slick-slide .img1 {
  background-image: url(../img/main/u_pump.png);
}
.section_02 .slide-con .slick-slide .img2 {
  background-image: url(../img/main/u_papri.png);
}
.section_02 .slide-con .slick-slide .img3 {
  background-image: url(../img/main/u_garlic.jpg);
}
.section_02 .slide-con .slick-slide .img4 {
  background-image: url(../img/main/u_ban.png);
}
.section_02 .slide-con .slick-slide .img5 {
  background-image: url(../img/main/u_oran.png);
}
.section_02 .slide-con .slick-slide .img6 {
  background-image: url(../img/main/u_corn.png);
}

.section_02 .slide-con .slick-slide .reason-dimmed {
  position: absolute;
  bottom: 0;

  width: 320px;
  height: 85px;
  background-color: rgba(0, 0, 0, 0.4);
}
.section_02 .slide-con .slick-slide .reason-dimmed h5 {
  position: absolute;
  left: 27px;
  top: 13px;

  font-size: 20px;
  font-weight: 400;
  color: white;
}

/* Section 03 */
.section_03 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  height: 1250px;
}

.section_03 .title-area {
  padding-top: 90px;
  padding-bottom: 86px;
  text-align: center;
}
.section_03 .title-area h2 {
  margin-bottom: 10px;
}

.section_03 .section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  width: 1440px;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.section_03 .veggie-box {
  display: flex;
  height: 480px;
}

/* Section03 --- veggie box - small area */
.section_03 .veggie-box .small-area {
  margin-right: 10px;
}
.section_03 .veggie-box .small-area .small {
  width: 80px;
  height: 80px;
  background-color: #333;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: cover;
}
.section_03 .veggie-box .small-area .small-box1 {
  background-image: url(../img/main/standard_box.png);

  border: 3px solid #ff6741;
}
.section_03 .veggie-box .small-area .small-box2 {
  background-image: url(../img/main/jumbo_box.png);
}

/* small area :: active */
.section_03 .veggie-box .small-area .small.active {
  border: 3px solid #ff6741;
}
/* --- */

.section_03 .veggie-box .small-area small-box1 {
}
.section_03 .veggie-box .small-area small-box2 {
}

/* Section03 --- veggie box - main area */
.section_03 .veggie-box .main-area {
  display: flex;
}
.section_03 .veggie-box .main-area .main-box {
  width: 480px;
  height: 480px;
  background-image: url(../img/main/standard_box.png);
  background-repeat: no-repeat;
}
.section_03 .veggie-box .main-area .desc {
  font-family: "Noto sans KR";
  padding-top: 30px;
  padding-left: 50px;
}
.section_03 .veggie-box .main-area .desc span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 127px;
  height: 40px;
  border: 2px solid #ff6e4a;
  border-radius: 30px;

  font-size: 20px;
  font-weight: 500;
  color: #ff6e4a;
  margin-bottom: 30px;
}
.section_03 .veggie-box .main-area .desc h3 {
  font-size: 28px;
  font-weight: 500;
}
.section_03 .veggie-box .main-area .desc h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 44px;
}
.section_03 .veggie-box .main-area .desc p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 54px;
}
.section_03 .veggie-box .main-area .desc .start-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  background-color: #ff6741;
  border: none;

  font-size: 20px;
  font-weight: 400;
}
.section_03 .veggie-box .main-area .desc a {
}

/* Section 03 --- bottom background */
.section_03 .bottom-background {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 327px;

  background-color: #fff5f0;
}

/* Section 03 --- cards */
.section_03 .intro-cards {
  width: 100%;
  position: absolute;
  top: -82px;

  display: flex;
  justify-content: center;

  margin-left: 50px;
  margin-right: 50px;
}
.section_03 .intro-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 220px;
  height: 300px;
  background-color: white;
  margin-right: 120px;

  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
}

.section_03 .intro-cards .last-card {
  margin-right: 0;
}
.section_03 .intro-cards .card .card-icon {
  width: 100px;
  height: 100px;
  background-color: #ff987e;
  border-radius: 50%;

  margin-top: 50px;

  background-repeat: no-repeat;
  background-position: center;
}

/* card-icon images */
.section_03 .intro-cards .card .icon1 {
  background-image: url(../img/components/bpxj\ 1.png);
}
.section_03 .intro-cards .card .icon2 {
  background-image: url(../img/components/all\ 1.png);
}
.section_03 .intro-cards .card .icon3 {
  background-image: url(../img/components/de.png);
}
.section_03 .intro-cards .card .icon4 {
  background-image: url(../img/components/xxx.png);
}

.section_03 .intro-cards .card p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
}
.section_03 .intro-cards .card .card-line {
  width: 50px;
  height: 2px;
  background-color: #ff6741;
  margin-top: 42px;
}

/* Section 04 */
.section_04 {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 1130px;
}

/* Section 04 - title area & btn */
.section_04 .section-inner {
  width: 1440px;
  margin-left: 50px;
  margin-right: 50px;
}
.section_04 .section-inner .title-area {
  padding-top: 90px;
  padding-bottom: 54px;
}

.section_04 a {
  display: inline-block;
}

.section_04 .more-review-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 50px;
  background: #ff6741;

  font-size: 20px;
  font-weight: 500;
}

/* Section 04 - slide area */
.section_04 .slide-area {
  /* width: 4490px; */
  width: 100%;
  height: 550px;
  margin-top: 100px;
}
.section_04 .slide-area .grade {
  display: flex;

  /* width: 4450px; */
  width: 100%;
  height: 250px;
}
.section_04 .slide-area .grade .img-box {
  width: 250px;
  height: 250px;
  background-color: #333;
  margin-right: 50px;
}
.section_04 .slide-area .grade1 {
  margin-bottom: 50px;
}
.section_04 .slide-area .grade2 {
  transform: translateX(50px);
}

.section_04 .slide-area .grade1 .img1 {
  background-image: url(../img/main/Frame\ 100.png);
}
.section_04 .slide-area .grade1 .img2 {
  background-image: url(../img/main/Frame\ 101.png);
}
.section_04 .slide-area .grade1 .img3 {
  background-image: url(../img/main/Frame\ 102.png);
}
.section_04 .slide-area .grade1 .img4 {
  background-image: url(../img/main/Frame\ 103.png);
}
.section_04 .slide-area .grade1 .img5 {
  background-image: url(../img/main/Frame\ 104.png);
}
.section_04 .slide-area .grade1 .img6 {
  background-image: url(../img/main/Frame\ 105.png);
}
.section_04 .slide-area .grade1 .img7 {
  background-image: url(../img/main/Frame\ 106.png);
}

.section_04 .slide-area .grade2 .img1 {
  background-image: url(../img/main/Frame\ 94.png);
}
.section_04 .slide-area .grade2 .img2 {
  background-image: url(../img/main/Frame\ 95.png);
}
.section_04 .slide-area .grade2 .img3 {
  background-image: url(../img/main/Frame\ 96.png);
}
.section_04 .slide-area .grade2 .img4 {
  background-image: url(../img/main/Frame\ 97.png);
}
.section_04 .slide-area .grade2 .img5 {
  background-image: url(../img/main/Frame\ 98.png);
}
.section_04 .slide-area .grade2 .img6 {
  background-image: url(../img/main/Frame\ 99.png);
}
.section_04 .slide-area .grade2 .img7 {
  background-image: url(../img/main/Frame\ 111.png);
}

/* 나중에 */
.section_04 .slide-area .grade .img8 {
}
.section_04 .slide-area .grade .img9 {
}
.section_04 .slide-area .grade .img10 {
}
.section_04 .slide-area .grade .img11 {
}
.section_04 .slide-area .grade .img12 {
}
.section_04 .slide-area .grade .img13 {
}
.section_04 .slide-area .grade .img14 {
}
.section_04 .slide-area .grade .img15 {
}
/* --- */

/* Section 05 */
.section_05 {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 500px;

  color: white;

  background-image: url(../img/main/tom_dimm.png);
}

/* dimmed 처리 */
.section_05:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.section_05 .section-inner {
  display: flex;

  position: absolute;
  z-index: 5;

  width: 1440px;
  padding-top: 133px;
}

.section_05 .title-area {
}
.section_05 .title-area h3 {
  color: #ff6741;
}
.section_05 .title-area h2 {
  padding-bottom: 36px;
}
.section_05 .title-area p {
  font-size: 18px;
  font-weight: 300;
}

/* Section 05 --- info area */
.section_05 .info-wrap {
  padding-left: 114px;
}
.section_05 .info-area {
  display: flex;

  font-family: "Noto sans KR";
  text-align: center;
}
.section_05 .info-area .info {
  padding-top: 41px;
  padding-right: 85px;
  padding-bottom: 56px;
}
.section_05 .info-area .info h3 {
  font-size: 30px;
  font-weight: 500;
}
.section_05 .info-area .info h4 {
  font-size: 24px;
  font-weight: 400;
}

.section_05 a {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}
.section_05 a .together-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 50px;
  background-color: #ff6741;
}
