/* header */
header {
  background-color: #fff;
}
header nav .gnb li a {
  color: #252525;
}

/* Main */
.main-area {
  position: relative;
  width: auto;
  max-width: 1920px;
  min-width: 100%;
  height: 500px;
  margin-top: 80px;
}
.main-area img.orange-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-area .title-area {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.main-area .title-area p {
  font-size: 24px;
  font-weight: 300;
  padding-top: 34px;
}

/* section */

/* section 01 */
.sec_01 {
  display: flex;
  justify-content: center;

  width: 100%;
  height: auto;
  padding: 100px 50px;
  box-sizing: border-box;
}

.sec_01 img {
  width: 728px;
  height: 370px;
  object-fit: cover;

  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
  transition: 1s;
}
.sec_01 .title-area {
  padding-top: 30px;
  padding-left: 50px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(80px);
  transition: 1.5s;
  transition-delay: 0.5s;
}

.sec_01 .title-area h2 {
  font-family: "Noto Sans KR";
}
.sec_01 .title-area h2 span {
  color: #ff6741;
}

.sec_01 .title-area p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 300;
  padding-top: 49px;
}

/* section 02 */
.sec_02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 50px;
  box-sizing: border-box;

  border: 3px solid blue;
}
.sec_02 .farm-img {
  width: auto;
  height: 500px;
  object-fit: cover;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: 0.7s;
}

.sec_02 .desc-area {
  display: flex;
}
.sec_02 .desc-area .desc {
  padding-top: 50px;

  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.sec_02 .desc-area .desc:last-child {
  margin-left: 50px;
}
.sec_02 .desc-area .desc img,
.sec_02 .desc-area .desc h2,
.sec_02 .desc-area .desc p {
  transform: translateY(50px);
  opacity: 0;
}
.sec_02 .desc-area .desc.active {
  opacity: 1;
  visibility: visible;
}
.sec_02 .desc-area .desc.active img,
.sec_02 .desc-area .desc.active h2,
.sec_02 .desc-area .desc.active p {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}

.sec_02 .desc-area .desc.active img {
  transition-delay: 0.3s;
}
.sec_02 .desc-area .desc.active h2 {
  transition-delay: 0.5s;
}
.sec_02 .desc-area .desc.active p {
  transition-delay: 0.7s;
}

.sec_02 .desc-area .desc img {
  width: 50px;
  height: 50px;
  object-fit: fill;
}
.sec_02 .desc-area .desc h2 {
  font-size: 28px;
  font-weight: 500;
  padding-top: 15px;
}
.sec_02 .desc-area .desc p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 40px;
}

/* section 03 */
.sec_03 {
  display: flex;
  justify-content: center;

  width: auto;
  height: auto;
  padding: 100px 50px;
  box-sizing: border-box;

  border: 3px solid blue;
}
.sec_03 .desc-area {
  font-size: 18px;

  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.sec_03 .desc-area h2,
.sec_03 .desc-area .desc-p,
.sec_03 .desc-area .desc-p span,
.sec_03 .desc-area p {
  transform: translateY(50px);
  opacity: 0;
}

.sec_03 .desc-area.active {
  opacity: 1;
  visibility: visible;
}
.sec_03 .desc-area.active h2,
.sec_03 .desc-area.active .desc-p,
.sec_03 .desc-area.active .desc-p span,
.sec_03 .desc-area.active p {
  transform: translateY(0);
  opacity: 1;
  transition: 0.8s;
}
.sec_03 .desc-area.active h2 {
  transition-delay: 0.3s;
}
.sec_03 .desc-area.active .desc-p {
  transition-delay: 0.6s;
}
.sec_03 .desc-area h2 {
  font-size: 36px;
  font-weight: 500;
}
.sec_03 .desc-area .desc-p {
  font-weight: 300;
  padding-top: 62px;
  padding-right: 57px;
}
.sec_03 .desc-area .desc-p span {
  font-weight: 400;
  color: #ff6741;
}
.sec_03 .desc-area p {
  padding-bottom: 54px;
}

.sec_03 .img-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 760px;
  height: 825px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
  transition: 1s;
  transition-delay: 0.7s;
}
.sec_03 .img-area.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sec_03 .img-area img {
  width: 760px;
  height: 400px;
  object-fit: cover;
}

/* section 04 */
.sec_04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 100px 50px;
  box-sizing: border-box;
}
.sec_04 .text-area {
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.sec_04 .text-area h2,
.sec_04 .text-area h2 span,
.sec_04 .text-area p {
  opacity: 0;
  transform: translateY(-50px);
}

.sec_04 .text-area.active {
  opacity: 1;
  visibility: visible;
}
.sec_04 .text-area.active h2,
.sec_04 .text-area.active h2 span,
.sec_04 .text-area.active p {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s;
}
.sec_04 .text-area.active h2 span {
  transition-delay: 0.3s;
}
.sec_04 .text-area.active h2 {
  transition-delay: 0.5s;
}
.sec_04 .text-area.active p {
  transition-delay: 0.7s;
}

.sec_04 .text-area h2 {
  font-size: 36px;
  font-weight: 500;
  padding-top: 20px;
}
.sec_04 .text-area h2 span {
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: #ff6741;
}
.sec_04 .text-area p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 300;
  padding-top: 43px;
}

.sec_04 .img-area {
  display: flex;
  margin-top: 87px;
}
.sec_04 .img-area .upper-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;

  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
  transition: 1s;
}
.sec_04 .img-area .upper-img.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sec_04 .img-area .upper-img img {
  width: 370px;
  height: 262.5px;
  object-fit: cover;
}
.sec_04 .img-area .lower-img {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
  transition: 1.2s;
}
.sec_04 .img-area .lower-img.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.sec_04 .img-area .lower-img img {
  width: 945px;
  height: 550px;
  object-fit: cover;
}

/* section 05 */
.sec_05 {
  display: flex;
  justify-content: center;

  width: auto;
  height: auto;
  padding: 100px 50px;
  box-sizing: border-box;

  border: 3px solid green;
}
.sec_05 .img-area {
  margin-right: 50px;
}
.sec_05 .img-area img {
  width: 310px;
  height: 100%;
  object-fit: cover;
  margin-right: 15px;
}

.sec_05 .text-area {
}
.sec_05 .text-area h3 {
  font-size: 28px;
  font-weight: 500;
  color: #ff6741;
}
.sec_05 .text-area h2 {
  font-size: 36px;
  font-weight: 500;
  padding-top: 20px;
}
.sec_05 .text-area .desc-p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 60px;
}
.sec_05 .text-area .desc-p p {
  padding-bottom: 55px;
}
.sec_05 .text-area .desc-p span {
  font-weight: 400;
  color: #ff6741;
}

/* Tablet Responsive */
@media (max-width: 770px) {
  .layout {
    width: 768px;
    min-width: 390px;
    max-width: 768px;
    min-height: 100%;
  }
  .main-area {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 768px;
    height: 400px;
    min-height: 400px;
    margin-top: 50px;
  }
  .main-area img.orange-main {
    width: 100%;
    max-width: 768px;
    height: 100%;
    min-height: 400px;
    object-fit: cover;
  }
  .main-area .title-area h2 span {
    font-size: 18px;
  }
  .main-area .title-area p {
    font-size: 14px;
    padding-top: 15px;
  }

  /* section 01 */
  .sec_01 {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .sec_01 img {
    width: auto;
    height: auto;
  }
  .sec_01 .title-area {
    width: auto;
    margin-top: 10px;
  }
  .sec_01 .title-area h2 {
    margin-top: 10px;
  }
  .sec_01 .title-area h2 span {
    margin-top: 0;
  }
  .sec_01 .title-area p {
    font-size: 16px;
    padding-top: 15px;
  }

  /* section 02 */
  .sec_02 {
    width: auto;
    height: auto;
  }
  .sec_02 .farm-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .sec_02 .desc-area {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .sec_02 .desc-area .desc {
    padding: 0;
    padding-bottom: 30px;
  }
  .sec_02 .desc-area .desc:last-child {
    margin-left: 0;
  }
  .sec_02 .desc-area .desc img {
    width: 30px;
    height: 30px;
    object-fit: fill;
  }
  .sec_02 .desc-area .desc h2 {
    font-size: 18px;
    padding-top: 5px;
  }
  .sec_02 .desc-area .desc p {
    font-size: 14px;
    padding-top: 10px;
  }

  /* section 03 */
  .sec_03 {
    display: flex;
    flex-direction: low;
    width: auto;
    height: auto;
  }
  .sec_03 .desc-area {
    font-size: 14px;
    padding-top: 20px;
    padding-right: 25px;
  }
  .sec_03 .desc-area h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec_03 .desc-area .desc-p {
    padding: 0;
  }
  .sec_03 .desc-area p {
    padding-bottom: 20px;
  }
  .sec_03 .img-area {
    display: flex;
    width: auto;
    height: 100%;
  }
  .sec_03 .img-area img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 25px;
  }

  /* section 04 */
  .sec_04 {
    width: auto;
    height: auto;
  }
  .sec_04 .text-area h3 {
    font-size: 14px;
  }
  .sec_04 .text-area h2 {
    font-size: 18px;
    padding-top: 0;
  }
  .sec_04 .text-area p {
    font-size: 16px;
    padding-top: 15px;
  }

  .sec_04 .img-area {
    display: flex;
    margin-top: 20px;
    height: 320px;
  }
  .sec_04 .img-area .upper-img {
    width: auto;
    height: auto;
  }
  .sec_04 .img-area .upper-img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .sec_04 .img-area .lower-img {
    width: 100%;
    height: auto;
  }
  .sec_04 .img-area .lower-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* section 05 */
  .sec_05 {
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
  .sec_05 .img-area {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
  .sec_05 .img-area img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
  }
  .sec_05 .img-area img:last-child {
    margin-right: 0;
  }

  .sec_05 .text-area {
    padding-top: 20px;
  }
  .sec_05 .text-area h3 {
    font-size: 16px;
  }
  .sec_05 .text-area h2 {
    font-size: 18px;
    padding-top: 10px;
  }
  .sec_05 .text-area .desc-p {
    font-size: 14px;
    padding-top: 20px;
  }
  .sec_05 .text-area .desc-p p {
    padding-bottom: 15px;
  }
  .sec_05 .text-area .desc-p span {
    font-weight: 400;
    color: #ff6741;
  }
}

/* Mobile Responsive */
@media (max-width: 420px) {
  .layout {
    width: 390px;
    min-width: 390px;
    max-width: 390px;
    min-height: 100%;
    box-sizing: border-box;
  }
  .main-area {
    width: auto;
    max-width: auto;
    height: 400px;
    min-height: 400px;
  }

  /* section 01 */
  .sec_01 {
    padding: 50px 20px;
    width: 100%;
    height: auto;
  }
  .sec_01 .title-area {
    padding: 0;
  }

  /* section 02 */
  .sec_02 {
    width: auto;
    height: auto;
    padding: 50px 20px;
  }
  .sec_02 .farm-img {
    width: 100%;
    height: 300px;
  }

  /* section 03 */
  .sec_03 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .sec_03 .desc-area {
    font-size: 14px;
    padding-top: 20px;
    padding-right: 25px;
  }
  .sec_03 .desc-area h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec_03 .desc-area .desc-p {
    padding: 0;
  }
  .sec_03 .desc-area p {
    padding-bottom: 20px;
  }
  .sec_03 .img-area {
    display: flex;
    width: auto;
    height: 100%;
  }
  .sec_03 .img-area img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 25px;
  }

  /* section 04 */
  .sec_04 {
    width: auto;
    height: auto;
    padding: 50px 20px;
  }
  .sec_04 .text-area p {
    font-size: 16px;
    padding-top: 15px;
  }

  /* section 05 */
  .sec_05 {
    padding: 50px 20px;
  }
  .sec_05 .img-area {
    flex-direction: column;
    width: 100%;
    margin-right: 0;
  }
  .sec_05 .img-area img {
    width: 100%;
    height: 250px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .sec_05 .img-area img:last-child {
    margin-right: 0;
  }

  .sec_05 .text-area {
    padding-top: 20px;
  }
  .sec_05 .text-area h3 {
    font-size: 16px;
  }
  .sec_05 .text-area h2 {
    font-size: 18px;
    padding-top: 10px;
  }
  .sec_05 .text-area .desc-p {
    font-size: 14px;
    padding-top: 20px;
  }
  .sec_05 .text-area .desc-p p {
    padding-bottom: 15px;
  }
  .sec_05 .text-area .desc-p span {
    font-weight: 400;
    color: #ff6741;
  }
}
