/* header */
header {
  background-color: #fff;
}
header nav .gnb li a {
  color: #252525;
}

/* Mission --- main */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-background {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 520px;

  background-image: url(../img/mission/flattlay_main.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

.main {
  display: flex;
  justify-content: flex-end;

  width: 1340px;
  height: 100%;
}

.main .title-area {
  padding-top: 153px;
}
.main .title-area h3 {
  font-size: 28px;
  font-weight: 400;
  color: #333;
}
.main .title-area h1 {
  padding-top: 10px;
}
.main .title-area p {
  font-size: 24px;
  font-weight: 300;
  padding-top: 34px;
}

/* Section */
.section-inner {
  width: 1340px;
  height: 100%;
}

/* Section 01 */
.section_01 {
  display: flex;

  width: 100%;
  height: 622px;
}

.section_01 img {
  width: 728px;
  height: 370px;
  object-fit: cover;

  margin-top: 200px;
}
.section_01 .title-area {
  padding-top: 288px;
  padding-left: 62px;
}
.section_01 .title-area h3 {
  font-size: 28px;
  font-weight: 500;
  color: #FF6741;
}
.section_01 .title-area h2 {
  font-family: "Noto Sans KR";
  font-size: 36px;
  font-weight: 500;
  padding-top: 12px;
}
.section_01 .title-area p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 300;
  padding-top: 49px;
}

/* Section 02 */
.section_02 {
  width: 100%;
  height: 1080px;
}
.section_02 .farm-img {
  width: 1340px;
  height: 500px;
  object-fit: cover;

  margin-top: 110px;
}

.section_02 .desc-area {
  display: flex;
}
.section_02 .desc-area .desc {
  padding-top: 53px;
  padding-left: 115px;
}
.section_02 .desc-area .desc img {
  width: 50px;
  height: 50px;
  object-fit: fill;
}
.section_02 .desc-area .desc h2 {
  font-size: 28px;
  font-weight: 500;
  padding-top: 15px;
}
.section_02 .desc-area .desc p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 40px;
}

/* Section 03 */
.section_03 {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 1080px;
}
.section_03 .desc-area {
  padding-top: 196px;

  font-size: 18px;
}
.section_03 .desc-area h2 {
  font-size: 36px;
  font-weight: 500;
}
.section_03 .desc-area .desc-p {
  font-weight: 300;
  padding-top: 62px;
  padding-right: 57px;
}

.section_03 .desc-area .desc-p span {
  font-weight: 400;
  color: #FF6741;
}
.section_03 .desc-area p {
  padding-bottom: 54px;
}
.section_03 .img-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 760px;
  height: 825px;

  margin-top: 122px;
  margin-right: 50px;
}
.section_03 .img-area img {
  width: 760px;
  height: 400px;
  object-fit: cover;
}

/* Section 04 */
.section_04 {
  width: 100%;
  height: 1080px;
}
.section_04 .text-area {
  padding-top: 123px;
}
.section_04 .text-area h3 {
  font-size: 28px;
  font-weight: 500;
  color: #FF6741;
}
.section_04 .text-area h2 {
  font-size: 36px;
  font-weight: 500;
  padding-top: 20px;
}
.section_04 .text-area p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 300;
  padding-top: 43px;
}

.section_04 .img-area {
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}
.section_04 .img-area .upper-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_04 .img-area .upper-img img {
  width: 370px;
  height: 262.5px;
  object-fit: cover;
}
.section_04 .img-area .lower-img {
}
.section_04 .img-area .lower-img img {
  width: 945px;
  height: 550px;
  object-fit: cover;
}

/* Section 05 */
.section_05 {
  display: flex;

  width: 100%;
  height: 940px;

  padding-top: 198px;
}
.section_05 .img-area {
  display: flex;
  justify-content: space-between;

  width: 645px;
  height: 545px;
}
.section_05 .img-area img {
  width: 310px;
  height: 100%;
  object-fit: cover;
}

.section_05 .text-area {
  padding-left: 70px;
}
.section_05 .text-area h3 {
  font-size: 28px;
  font-weight: 500;
  color: #FF6741;
}
.section_05 .text-area h2 {
  font-size: 36px;
  font-weight: 500;
  padding-top: 20px;
}
.section_05 .text-area .desc-p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 60px;
}
.section_05 .text-area .desc-p p {
  padding-bottom: 55px;
}
.section_05 .text-area .desc-p span {
  font-weight: 400;
  color: #FF6741;
}

