/* header */
header {
    background-color: #fff;
}
header nav .gnb li a {
    color: #252525;
}

/* Main */
main {
    position: relative;

    width: 1920px;
    height: 1000px;
    background-color: #FF6741;

    padding-top: 80px;
}

main .title-box {
    padding-top: 130px;

    color: white;
    text-align: center;
}
main .title-box h3 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main .uglybox-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 494px;   
    height: 200px;

    background-image: url(../img/review/uglybox.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Box Slide Area */
.main .slide-area {
    margin-top: 89px;
}
.main .slide-area .slide-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main .slide-area .slide-box .box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 350px;
    height: 430px;
    background-color: white;
    margin-right: 50px;
}
.main .slide-area .slide-box .box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top: 25px;
}
.main .slide-area .slide-box .box .desc-area {
    width: 300px;
    margin-top: 20px;
}
.main .slide-area .slide-box .box .desc-area p {
    height: 92px;
    font-size: 16px;
    font-weight: 300;
}
.main .slide-area .slide-box .box .desc-area .user-box {
    margin-top: 35px;
}
.main .slide-area .slide-box .box .desc-area .user-box .user {
    display: flex;
    justify-content: space-between;
}
.main .slide-area .slide-box .box .desc-area .user-box .user h5 {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.main .slide-area .slide-box .box .desc-area .user-box .user h6 {
    font-weight: 300;
    font-size: 14px;
    color: #333;
}
.main .slide-area .slide-box .box .desc-area .user-box img {
    width: 58px;
    height: 10px;
    object-fit: cover;
    margin: 0;
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 150px;
    background-color: #FFF5F0;

    margin-bottom: 80px;
}
.banner .banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1340px;
}
.banner .left-area {}
.banner .left-area h3 {
    font-size: 28px;
    font-weight: 400;
    color: #FF6741;
}
.banner .left-area h4 {
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.banner .right-area {
    display: flex;
}
.banner .right-area .review-info {}
.banner .right-area .review-info .point {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    background-image: url(../img/review/Frame.png);
    background-repeat: no-repeat;

    width: 137px;
    height: 36px;

    font-size: 12px;
    color: white;
    line-height: 30px;

    /* Animation 연결 */
    animation-name: point-move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Point-area  Animation */
@keyframes point-move {
    from {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }

}

.banner .right-area .review-info .point span {
    color: #FF6741;
    margin-left: 3px;
}
.banner .right-area .review-info h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
.banner .right-area .review-info .login-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 169px;
    height: 30px;
    border: 1px solid #FF6741;

    font-size: 14px;
    font-weight: 400;
    color: #FF6741;

    margin-top: 15px;
}

.banner .right-area .score-info {
    display: flex;
    align-items: center;

    margin-left: 50px;
}
.banner .right-area .score-info .score {
    margin-right: 50px;
}
.banner .right-area .score-info .score .score-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 60px;
    background-color: #FF6741;

    font-size: 20px;
    font-weight: 500;
    color: white;
}
.banner .right-area .score-info .score h5 {
    font-size: 16px;
    font-weight: 400;
    padding-top: 7px;
}

/* Section */
.review-section {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 1080px;

    /* border: 1px solid teal; */
}
.review-section .section-inner {
    width: 1340px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.review-section article {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    height: 500px;
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.review-section article .article-inner {
    width: 330px;
    height: 100%;

    margin: 30px 0;
}
.review-section article .img-area {
    width: 330px;
    height: 220px;
    object-fit: cover;
}
.review-section article .img-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-section article .icon-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.review-section article .icon-area .i1 {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.review-section article .icon-area .i2 {
    width: 82px;
    height: 14px;
    object-fit: cover;
    margin-top: 5px;
}
.review-section article .desc-area {
    height: 74px;
    margin-top: 14px;

    /* text 여러 줄, 말 줄임표 기호 넣기 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
.review-section article .desc-area p {
    font-size: 16px;
    font-weight: 300;
}
.review-section article .info-area {
    text-align: center;
    margin-top: 10px;
}
.review-section article .info-area h6 {
    font-size: 12px;
    font-weight: 300;
    color: #333;
}
.review-section article .info-area .line {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 5px 0;
}
.review-section article .info-area h5 {
    font-size: 16px;
    font-weight: 500;
    color: #FF6741;
}