/* header */
header {
    background-color: #FFF5F0;
}
header nav .gnb li a {
    color: #252525;
}

a{
    color: #252525;
}

/* Contents */
.login-section {
    display: flex;
    justify-content: center;

    padding-top: 80px;
    width: 100%;
    height: 1000px;
}
.login-section .section-inner {
    width: 406px;
    border: 1px solid teal;
}

.login-section .title-area {
    padding-top: 90px;
}
.login-section .title-area h2 {
    font-size: 36px;
    font-weight: 500;
}

.login-section .input-area {
    margin-top: 85px;
}
.login-section .input-area input[type="text"] {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    outline: none;

    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 20px;

    font-family: "Raleway";
    color: #252525;

    transition: 0.5s;
}
.login-section .input-area input[type="text"]:nth-child(2) {
    margin: 0;
}
.login-section .input-area input[type="text"]::placeholder {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 400;
    color: #D2D2D2;
}
.login-section .input-area input[type="text"]:hover, 
.login-section .input-area input[type="text"]:focus {
    border: 1px solid #FF6741;
}
.login-section .input-area input[type="text"]:focus::placeholder {
    color: transparent;
}
.login-section .input-area a {
    display: block;
    text-align: end;
    padding-top: 14px;
}
.login-section .input-area a:hover {
    text-decoration: underline;
}

.login-section .login-btn {}

.login-section .or-area {}
.login-section .or-area::before,
.login-section .or-area::after {
    content: "";
    position: absolute;
    width: 165px;
    height: 1px;
    background-color: #D2D2D2;
}
.login-section .or-area::after {}

.login-section .otherWay-area {}
.login-section .otherWay-area a {}
.login-section .otherWay-area .google-login {}
.login-section .otherWay-area .kkt-login {}
.login-section .otherWay-area .naver-login {}