@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "Leferi";
    src: url("../../font/Leferi_TTF/LeferiBaseBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Leferi";
    src: url("../../font/Leferi_TTF/LeferiPointBlack.ttf");
    font-weight: 800;
}

body {
    font-family: "Noto sans KR", "Raleway", sans-serif;
    color: #252525;
}

a {
    text-decoration: none;
    color: #fff;
}

.title-area h2 {
    font-size: 36px;
    font-weight: 500;
}
.title-area h2 span {
    display: block;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}
h2.heading {
    font-family: "Leferi";
    font-size: 44px;
    font-weight: 600;
    line-height: 60px;
}

button {
    border: none;
}

.layout {
    position: relative;
    max-width: 1920px;
    min-width: 1340px;
    margin: 0 auto;
    overflow: hidden;
}

/* .container {
    position: absolute;
    left: 0;
    top: 80px;

    width: 1920px;

    display: flex;
    flex-direction: column;
    justify-content: center;
} */

@Media (max-width: 770px) {
    .title-area h2 {
        font-size: 18px;
    }
    .title-area h2 span {
        font-size: 14px;
        margin-bottom: 0;
    }
    h2.heading {
        font-size: 28px;
        line-height: 40px;
    }
}