/* Footer */
footer {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 475px;

  font-family: "Noto Sans KR";
  background-color: #fff5f0;
}

footer .section-inner {
  display: flex;
  justify-content: space-between;

  width: 1440px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;

  padding-top: 60px;
}

/* Footer --- company information area */
footer .company-info-area {}
footer .company-info-area img {
  width: 140px;
  height: 45px;
}

footer .company-info-area p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 47px;
  color: #333;
}
footer .company-info-area p strong {
  font-weight: 500;
  color: #ff6741;
}

footer .company-info-area .info-btns {
  display: flex;
  margin-top: 32px;
}
footer .company-info-area .info-btns .info-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 44px;
  border: 1px solid #ff6741;

  font-size: 18px;
  font-weight: 400;
  color: #ff6741;
}
footer .company-info-area .info-btns .btn1 {
  margin-right: 30px;
}

footer .company-info-area h6 {
  font-size: 12px;
  font-weight: 300;
  color: #333;

  padding-top: 16px;
}

/* Footer Line */
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
  display: none;
}

/* Footer --- customer service area */
footer .cs-area {
  text-align: right;
  padding-top: 44px;
}
footer .cs-area h5 {
  font-size: 18px;
  font-weight: 500;
}
footer .cs-area h5 span {
  color: #ff6741;
}

footer .cs-area p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  padding-top: 22px;
}

footer .cs-area .cs-btns {
  display: flex;
  justify-content: flex-end;

  margin-top: 59px;
}
footer .cs-area .cs-btns .cs-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 44px;
  background-color: #ff6741;

  font-size: 18px;
  font-weight: 400;
  color: white;
}
footer .cs-area .cs-btns .btn2 {
  margin-left: 30px;
}

/* Responsive */
@media (max-width: 771px) {
  footer {
    width: auto;
    height: auto;
    padding: 50px 30px;
  }
  footer .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  /* Footer --- company information area */
footer .company-info-area {
  width: auto;
  height: auto;
}
footer .company-info-area img {
  width: 90px;
  height: 29px;
  object-fit: cover;
}
footer .company-info-area p {
  font-size: 12px;
  padding-top: 20px;
}
footer .company-info-area .info-btns {
  justify-content: center;
  margin-top: 20px;
}
footer .company-info-area .info-btns .info-btn {
  width: 140px;
  height: 40px;
  font-size: 16px;
}
footer .company-info-area .info-btns .btn1 {
  margin-right: 20px;
}

footer .company-info-area h6 {
  font-size: 12px;
  padding-top: 20px;
}

/* Footer Line */
.footer-line {
  margin: 30px 0;
  display: block;
}

/* Footer --- customer service area */
footer .cs-area {
  width: 100%;
  height: 100%;
  text-align: start;
  padding-top: 0;
}
footer .cs-area h5 {
  font-size: 12px;
  font-weight: 500;
}
footer .cs-area p {
  font-size: 12px;
  padding-top: 20px;
}
footer .cs-area .cs-btns {
  justify-content: center;
  margin-top: 20px;
}
footer .cs-area .cs-btns .cs-btn {
  width: 140px;
  height: 40px;
  font-size: 16px;
}
}