/* Header */
header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 1920px;
  height: 80px;
  /* color 변경 해주기 */
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: #fff; */
  z-index: 30;
}

header .header-inner {
  display: flex;
  align-items: center;
}
header #logo {
  width: 130px;
  height: 41.6px;
  margin-left: 50px;
  margin-right: 228px;
}
/* header - gnb list */
header nav {
  display: flex;
  align-items: center;
}
header nav .gnb {
  display: flex;
}

header nav .gnb li {
  width: 120px;
  height: 25px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;

  position: relative;
}

/* 여기도 color 변경 해주기 */

/* header nav .gnb li a {
  color: #252525;
} */

header nav .gnb li#li-last {
  margin-right: 0;
}

/* 차오르는 효과 nav-bar */
.gnb li a::before {
  content: attr(data-text);
  white-space: nowrap;

  position: absolute;
  left: 0;
  top: 0;

  width: 0%;
  overflow: hidden;

  color: #ff6741;
  transition: 0.5s;
}

.gnb li a:hover::before {
  width: 100%;
}
/* ----- */

/* header - icons */
header nav .gnb-icons {
  display: flex;
  margin-right: 50px;
}
header nav .gnb-icons li a .basket_icon {
  width: 50px;
  height: 50px;
  margin-left: 227px;
}
header nav .gnb-icons li a .user_icon {
  width: 30px;
  height: 31px;
  margin-left: 35px;
  margin-top: 9px;
}
