/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 80px;
  /* color 변경 해주기 */
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: #fff; */
  z-index: 30;
}

/* 여기도 color 변경 해주기 */

/* header nav .gnb li a {
  color: #252525;
} */

header .header-inner {
  width: 100%;
  padding: 0 50px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
header nav h1 {
  width: 130px;
  height: 41px;
}
header nav h1 a {
  display: inline-block;
}
header nav h1 #logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gnb list */
header nav .gnb {
  display: flex;
}

header nav .gnb li {
  width: 120px;
  height: 25px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;

  position: relative;
}

header nav .gnb li#li-last {
  margin-right: 0;
}

/* 차오르는 효과 nav-bar */
.gnb li a::before {
  content: attr(data-text);
  white-space: nowrap;

  position: absolute;
  left: 0;
  top: 0;

  width: 0%;
  overflow: hidden;

  color: #ff6741;
  transition: 0.5s;
}

.gnb li a:hover::before {
  width: 100%;
}
/* ----- */
/* header - icons */
header nav .gnb-icons {
  display: flex;
  margin: 0;
}
header nav .gnb-icons li a {
  display: inline-block;
}
header nav .gnb-icons li a .basket_icon {
  width: 50px;
  height: 50px;
}
header nav .gnb-icons li a .user_icon {
  width: 30px;
  height: 31px;
  margin-left: 35px;
  margin-top: 9px;
}
header nav .gnb-icons li a .hamburger_icon {
  display: none;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 2px;
}

/* Hamburger Popup */
.hamburger-popup {
}
.hamburger-popup.on {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
}

.hamburger-popup .hamburger-popup-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  top: 0;
  background-color: #ff6741;

  font-size: 18px;
  font-weight: 400;

  /* ? */
  transform: translateY(-300px);
  transition: 0.5s;
}
.hamburger-popup .hamburger-popup-inner.on {
  transform: translateY(0);
}

.hamburger-popup .popup-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 23px;
  top: 8px;
}
.hamburger-popup .popup-close img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hamburger-popup .hidden-nav {
  margin-top: 20px;
}
.hamburger-popup .hidden-nav li {
  position: relative;
  line-height: 1;
  margin-bottom: 15px;
  transition: 0.5s;
}
.hamburger-popup .hidden-nav li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -20px;

  background-image: url(../../img/components/right.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: none;
}
.hamburger-popup .hidden-nav li:hover::before {
  display: block;
}

.hamburger-popup .hidden-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.hamburger-popup .hidden-btns .hidden-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 40px;
  border: 1px solid white;
  margin-right: 15px;
}
.hamburger-popup .hidden-btns .hidden-btn:last-child {
  margin-right: 0;
}

/* Responsive */
@media (max-width: 771px) {
  header {
    width: 100%;
    height: 50px;
  }
  header .header-inner {
    width: 100%;
    padding: 0;
  }

  /* Logo */
  header nav h1 {
    width: 90px;
    height: 30px;
  }
  header nav h1 a {
    display: inline-block;
  }
  header nav h1 #logo {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 20px;
    object-fit: cover;
  }

  /* Gnb list */
  header nav .gnb {
    display: none;
  }

  /* Gnb Icons */
  header nav .gnb-icons li a .basket_icon {
    display: none;
  }
  header nav .gnb-icons li a .user_icon {
    display: none;
  }
  header nav .gnb-icons li a .hamburger_icon {
    display: block;
  }
  header nav .gnb-icons li a.last-h-icon {
    margin-right: 20px;
  }
}
